.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: 220px;
    background: #A39BA8 url('#{$image}hero/wayne-bishop-5737.jpg') 50% 50% no-repeat;
    background-size: cover;
    

    &__heading {
        color: #fff;
        font-family: $primary-font;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
    }
}
